.team {
  text-align: center;
  padding: 32px;
  position: relative;
}

.team h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  padding-bottom: 8px;
  display: inline-block;
}

.team .employees {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 32px;
}

.team input {
  background-color: #bdc1fcb5;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 4px rgba(0, 0, 0, 0.08);
  position: absolute;
  right: 24px;
  top: 24px;
}
