.team {
  text-align: center;
  padding: 32px;
  position: relative;
}

.team h3 {
  font-size: 32px;
  border-bottom: 4px solid;
  padding-bottom: 8px;
  display: inline-block;
}

.team .employees {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 32px;
}

.input-color {
  position: absolute;
  right: 24px;
  top: 24px;
}
